<html>
    <head>
	<title>Notes</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
	<div class='wrap'>
	    <div class="nav">
		<span style="font-style: italic">Notes</span>
		by Your name here |
		<a href="{{ url_for('posts') }}">Articles</a> |
		<a href="{{ url_for('resume') }}">Resume</a> |
		<a href="{{ url_for('about') }}">About</a> |
		<a href="{{ url_for('tools') }}">Tools</a>
	    </div>
	{% block body %}
	{% endblock %}
	</div>
    <p class='foot-note'>Powered by Python and Flask</p>
    </body>
</html>
